<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="partyMapper">

<!-- resultMap 설정 -->
	<resultMap
		type="party"
		id="party-resultmap">
		<id
			property="partyName"
			column="party_name" />
		<result
			property="csId"
			column="cs_id" />
		<result
			property="partyRight"
			column="party_right" />
		<result
			property="partyDate"
			column="party_date" />
	</resultMap>
	
	<!-- sql -->
	<sql id="select-column-sql">
		party_name, cs_id, party_right, party_date
	</sql>

	<sql id="select-sql">
		select
		<include refid="select-column-sql" />
		from party
	</sql>
	
	<!-- insert party -->
	<insert
		id="insertParty"
		parameterType="party">
		insert into party (
		<include refid="select-column-sql" />
		)
		values (#{partyName}, #{csId}, #{partyRight},
		#{partyDate})
	</insert>
	
	<!-- select all party list -->
	<select
		id="selectAllParty"
		resultType="string">
		select party_name
		from party
		where party_right=2 or
		party_right=3
	</select>

	<select
		id="selectPartyByName"
		parameterType="string"
		resultMap="party-resultmap">
		<include refid="select-sql" />
		where party_name=#{partyName}
	</select>

	<select
		id="selectPartyBycsId"
		parameterType="string"
		resultMap="party-resultmap">
		<include refid="select-sql" />
		where cs_id=#{csId}
	</select>
	

	<!-- 속한 앨범 보기 -->
	<select
		id="belongParty"
		parameterType="string"
		resultType="string">
		select party_name
		from party
		where cs_id=#{csId}
		order by
		party_name
	</select>
	
	<!-- 친구 리스트 뽑기 -->
	<select
		id="friendList"
		parameterType="string"
		resultType="string">
		select friend_id
		from friendlist
		where cs_id=#{csId}
	</select>

	<delete
		id="deleteParty"
		parameterType="string">
		delete
		from party
		where party_name=#{partyName}

	</delete>

	<update id="updateParty">
		update party
		set party_right = 1
		where party_name ='123모두보기'
	</update>




</mapper>
