<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="photoUploadMapper">

	<!-- sql 설정 -->
	<sql id="select-column-sql">
		photo_title,photo_id,party_name,cs_id,photo_time,photo_content
	</sql>
	
	<sql id="select-sql">
		select
		<include refid="select-column-sql" />
		from photo
	</sql>
	
	<!-- resultMap 설정 -->
	<resultMap
		type="photoUpload"
		id="photoUpload-resultmap">
		<id
			property="photoTitle"
			column="photo_title" />
		<result
			property="photoId"
			column="photo_id" />
		<result
			property="partyName"
			column="party_name" />
		<result
			property="csId"
			column="cs_id" />
		<result
			property="photoTime"
			column="photo_time" />
		<result
			property="photoContent"
			column="photo_content" />
	</resultMap>
	
	<!-- deletePhotoUploadByPhotoId -->
	<delete
		id="deletePhotoUploadByPhotoId"
		parameterType="int">
		delete from photo where photo_id=#{deletePhotoId}
	</delete>
	
	
	
	<!-- insertPhotoUpload -->
	<insert
		id="insertPhotoUpload"
		parameterType="PhotoUpload">
		insert into PHOTO (
		<include refid="select-column-sql" />
		)
		values (#{photoTitle}, #{photoId}, #{partyName}, #{csId},#{photoTime}, #{photoContent})
	</insert>
	
	<!-- selectPhotoUploadById -->
	<select
		id="selectPhotoUploadById"
		parameterType="int"
		resultMap="photoUpload-resultmap">
		<include refid="select-sql" />
		where photo_id=#{photoId}
	</select>
	
	
	<!-- listPhotoUpload -->
	<select
		id="listPhotoUpload"
		parameterType="string"
		resultMap="photoUpload-resultmap">
		<include refid="select-sql"/>
		where cs_id=#{csId}
	</select>
	
</mapper>
