<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- reple_id NUMBER NOT NULL, 
	photo_id NUMBER,
	reple_content VARCHAR2(50), 
	reple_time DATE, 
	party_name VARCHAR2(30),
	cs_id VARCHAR2(10), -->
	
	<mapper namespace="repleMapper">


	<!-- resultMap 설정 -->
	<resultMap
		type="reple"
		id="reple-resultmap">
		<id
			property="repleId"
			column="reple_id" />
		<result
			property="csId"
			column="cs_id" />
		<result
			property="photoId"
			column="photo_id" />
		<result
			property="repleContent"
			column="reple_content" />
		<result
			property="repleTime"
			column="reple_time" />
		
	</resultMap>

	<resultMap
		type="reple"
		id="reple-constructor-resultmap">
		<constructor>
			<idArg
				column="reple_id"
				javaType="int" />
				<arg
				column="cs_id"
				javaType="string" />
			<arg
				column="photo_id"
				javaType="int" />
			<arg
				column="replet_content"
				javaType="string" />
			<arg
				column="reple_time"
				javaType="date" />
			
				
		</constructor>
	</resultMap>

	<!-- 리플 추가 -->
	<insert id="insertReple" parameterType="reple">
			<selectKey
			keyProperty="repleId"
			resultType="int"
			order="BEFORE">
			select reple_id.nextval from dual
		</selectKey>
			insert into Reple(reple_id,cs_id,photo_id,reple_time,reple_content)
			values(#{repleId},#{csId},#{photoId},#{repleTime},#{repleContent})
			
	
	</insert>
	
	<!-- 리플 수정 -->
	<update id="updateReple" parameterType="reple">
		
		update reple
		set cs_id=#{csId},
		reple_time=#{repleTime},
		reple_content=#{repleContent},
		photo_id=#{photoId}
		
		where
		reple_id=#{repleId}

	
	</update>
	<!-- 리플 삭제 -->
	<delete id="deleteReple" parameterType="int">
	
	delete 
	from reple
	where reple_id=#{repleId} 
	</delete>
	
	<!-- 리플 전체 불러오기 
	사진 아이디로 저장되어있는 리플들 리스트로 리턴
	-->
	<select id="selectReple" parameterType ="int" resultMap="reple-resultmap">
	select reple_id,photo_id,reple_content,reple_time,cs_id
	from reple
	where photo_id=#{photoId}
	
	</select>
	
	<!-- 리플 아이디로 리플찾기  -->
	<select id="selectRepleOne" parameterType="int" resultMap="reple-resultmap">
	select reple_id,photo_id,reple_content,reple_time,cs_id
	from reple
	where reple_id=#{repleId}
	
	</select>
	
	
	
	</mapper> 